* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(./images/bg-stars.svg);
    background-color: hsl(235, 16%, 14%);
    font-size: 1rem;
    font-family: 'Red Hat Text', sans-serif;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

/* Typography */
.title,
.subtitle,
.attribution {
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.title {
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    margin: 4em 0;
}

.subtitle,
.attribution {
    font-size: .8rem;
    color: hsl(237, 18%, 59%);
}

/* Layout */


.container {
    width: 60%;
    margin: 0 auto;
}

.countdown {
    display: flex;
    justify-content: space-between;
}

/* Numbers component */
.number-block {
    padding: 5em;
    background-color: hsl(236, 21%, 26%);
    box-shadow: 0 10px 0 hsl(234, 17%, 12%);
    border-radius: 5px;
    margin-bottom: 1em;
}



/* Hill background pattern */
svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}